{{!--

<section class="about">
  <div class="about">
    <h1 class="about">About Us</h1>
    <p class="about">
      Welcome to our RecipMe Blog!
    </p>
    <p class="about">
      At RecipMe, we are passionate about food and love sharing delicious recipes with food enthusiasts like you.
      Whether you're an experienced home cook or just starting your culinary journey, our blog is your go-to destination
      for mouthwatering recipes, cooking tips, and culinary inspiration.
    </p>

    <p class="about">
      Our team of talented chefs and food bloggers curate a diverse collection of recipes that span various cuisines,
      dietary preferences, and cooking skill levels. From quick and easy weeknight dinners to indulgent desserts, we've
      got you covered.
    </p>

    <p class="about">
      What sets us apart is our dedication to providing detailed, step-by-step instructions that make cooking a breeze.
      We believe that anyone can create impressive dishes in their own kitchen, and we're here to guide you every step
      of the way. Our recipes are tried and tested, ensuring that you achieve great results every time.
    </p>

    <p class="about">
      But it's not just about the recipes. We also strive to foster a vibrant community of food lovers. Connect with
      fellow cooking enthusiasts through our comments section, where you can share your experiences, ask questions, and
      swap culinary tips. We believe that food brings people together, and we're excited to be a part of your culinary
      journey.
    </p>

    <p class="about">
      So whether you're looking for a crowd-pleasing appetizer, a comforting main course, or a show-stopping dessert,
      we invite you to explore our recipe collection, get creative in the kitchen, and delight your taste buds. Join us
      on this flavorful adventure and discover the joy of cooking!
    </p>

    <p class="about">
      Happy cooking!
    </p>

    <p class="about">
      The RecipMe Team
    </p>
  </div>
</section> --}}



<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="INTUITIVE">
  <meta name="description" content="">
  <title>Contact Us</title>
  <link rel="stylesheet" href="../public/css/nicepage.css" media="screen">
  <link rel="stylesheet" href="../public/css/contact.css" media="screen">
  <script class="u-script" type="text/javascript" src="../public/js/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="../public/js/nicepage.js" defer=""></script>
  <meta name="generator" content="Nicepage 5.10.8, nicepage.com">
  <meta name="referrer" content="origin">
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">


  <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
  <meta name="theme-color" content="#478ac9">
  <meta property="og:title" content="about">
  <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>

<body data-home-page="about.html" data-home-page-title="about" class="u-body u-xl-mode" data-lang="en">
  <header class="u-clearfix u-header u-header" id="sec-47fc">
    <div class="u-clearfix u-sheet u-sheet-1"></div>
  </header>
  <section class="u-align-center u-clearfix u-palette-1-base u-section-1" id="carousel_a985">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-col">
            <div class="u-size-30">
              <div class="u-layout-col">
                <div class="u-container-style u-layout-cell u-size-60 u-white u-layout-cell-1">
                  <div class="u-container-layout u-valign-top u-container-layout-1">
                    <img class="u-expanded-width u-image u-image-1" src="images/961829-0.jpeg" data-image-width="5760"
                      data-image-height="3840">
                    <div class="u-expanded-width u-list u-list-1">
                      <div class="u-repeater u-repeater-1">
                        <div class="u-container-style u-list-item u-repeater-item">
                          <div class="u-container-layout u-similar-container u-container-layout-2">
                            <h6 class="u-text u-text-default u-text-1">Address</h6>
                            <p class="u-text u-text-2">123 Virtual Road Toronto Ontario</p>
                          </div>
                        </div>
                        <div class="u-container-style u-list-item u-repeater-item">
                          <div class="u-container-layout u-similar-container u-container-layout-3">
                            <h6 class="u-text u-text-default u-text-3">Email</h6>
                            <p class="u-text u-text-4">carleton@bootcampstudents.ca</p>
                          </div>
                        </div>
                        <div class="u-container-style u-list-item u-repeater-item">
                          <div class="u-container-layout u-similar-container u-container-layout-4">
                            <h6 class="u-text u-text-default u-text-5">Mobile</h6>
                            <p class="u-text u-text-6">416-CAR-BOOT</p>
                          </div>
                        </div>
                        <div class="u-container-style u-list-item u-repeater-item">
                          <div class="u-container-layout u-similar-container u-container-layout-5">
                            <h6 class="u-text u-text-default u-text-7">Website</h6>
                            <p class="u-text u-text-8">https://recipme.com</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-30">
              <div class="u-layout-row">
                <div class="u-align-center u-container-style u-layout-cell u-size-30 u-white u-layout-cell-2">
                  <div class="u-container-layout u-valign-middle u-container-layout-6">
                    <h3 class="u-text u-text-body-color u-text-default u-text-10">Get in Touch</h3>
                    <p class="u-text u-text-default u-text-11"> Have an inquiry or some feedbak for us?
                      Fill out the form below to contact our team. </p>
                    <div class="u-align-left u-expanded-width u-form u-form-1">
                      <form action="https://forms.nicepagesrv.com/v2/form/process"
                        class="u-clearfix u-form-spacing-28 u-form-vertical u-inner-form" style="padding: 0px;"
                        source="email" name="form">
                        <div class="u-form-group u-form-name u-label-top">
                          <label for="name-5a14" class="u-label" wfd-invisible="true">Name</label>
                          <input type="text" placeholder="Enter your Name" id="name-5a14" name="name"
                            class="u-grey-10 u-input u-input-rectangle u-radius-7 u-input-1" required="">
                        </div>
                        <div class="u-form-email u-form-group u-label-top">
                          <label for="email-5a14" class="u-label" wfd-invisible="true">Email</label>
                          <input type="email" placeholder="Enter a valid email address" id="email-5a14" name="email"
                            class="u-grey-10 u-input u-input-rectangle u-radius-7 u-input-2" required="">
                        </div>
                        <div class="u-form-group u-form-message u-label-top">
                          <label for="message-5a14" class="u-label" wfd-invisible="true">How can we help?</label>
                          <textarea placeholder="" rows="4" cols="50" id="message-5a14" name="message"
                            class="u-grey-10 u-input u-input-rectangle u-radius-7 u-input-3" required=""></textarea>
                        </div>
                        <div class="u-align-right u-form-group u-form-submit u-label-top">
                          <a href="#"
                            class="u-active-black u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-black u-palette-1-base u-radius-7 u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-2">Submit</a>
                          <input type="submit" value="submit" class="u-form-control-hidden" wfd-invisible="true">
                        </div>
                        <div class="u-form-send-message u-form-send-success" wfd-invisible="true"> Thank you! Your
                          message has been sent. </div>
                        <div class="u-form-send-error u-form-send-message" wfd-invisible="true"> Unable to send your
                          message. Please fix errors then try again. </div>
                        <input type="hidden" value="" name="recaptchaResponse" wfd-invisible="true">
                        <input type="hidden" name="formServices" value="079cf9e0-f3e7-5fc3-ec15-b2b0ffef3c0c">
                      </form>
                    </div>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-3">
                  <div class="u-container-layout u-container-layout-7">
                    <div class="u-expanded u-grey-light-2 u-map">
                      <div class="embed-responsive">
                        <iframe class="embed-responsive-item"
                          src="//maps.google.com/maps?output=embed&amp;q=Manhattan%2C%20New%20York&amp;z=10&amp;t=m"
                          data-map="JTdCJTIyYWRkcmVzcyUyMiUzQSUyMk1hbmhhdHRhbiUyQyUyME5ldyUyMFlvcmslMjIlMkMlMjJ6b29tJTIyJTNBMTAlMkMlMjJ0eXBlSWQlMjIlM0ElMjJyb2FkJTIyJTJDJTIybGFuZyUyMiUzQW51bGwlMkMlMjJhcGlLZXklMjIlM0FudWxsJTJDJTIybWFya2VycyUyMiUzQSU1QiU1RCU3RA=="></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-b147">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">Jackilyn Tan - MIT Copyright 2023</p>
    </div>
  </footer>
  </section>

</body>

</html>